#basePane {
    /*-fx-background-color: #0F0;*/
    -fx-background-image: url("images/diagmonds.png");
    /*-fx-background-size: cover;*/

}

Label {
    -fx-text-fill: white;
}

ChoiceBox {
    -fx-background-color: linear-gradient(#333333, #303030);
}

ChoiceBox Label {
    -fx-text-fill: white;
}

TextField {
    -fx-background-color: linear-gradient(#333333, #303030);
    -fx-text-fill: white;
}

Button {
    -fx-background-color: linear-gradient(#333333, #303030);
    -fx-text-fill: white;
}
